.chord-sheet {
  margin-top: 1rem;
  font-family: var(--font-sans-serif);
  font-size: var(--chord-size);
  color: var(--secondary-color);
}

h1.title {
  color: var(--body-color);
  margin: 1rem 0 0 0;
}

h2.subtitle {
  color: var(--secondary-text-emphasis);
  font-size: 1.1rem;
  margin: 0;
}

.paragraph {
  margin-bottom: 1.5rem;
}

.paragraph.chorus {
  border-left: 0.2rem solid var(--warning-text-emphasis);
  border-radius: 0 var(--border-radius) 0 0;
  background-color: var(--tertiary-bg);
  padding-left: 0.5rem;
}

.paragraph.chorus h3.label {
  margin-left: -0.5rem;
  width: calc(100% + 0.5rem);
}

h3.label, .comment {
  font-size: var(--chord-size);
  font-weight: bold;
  color: var(--warning-text-emphasis);
  background-color: var(--secondary-bg);
  border-radius: 0 var(--border-radius) 0 0;
  padding: 0.25rem 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.chord {
  min-height: calc(var(--chord-size) + 0.5rem);
  padding-right: 0.5rem;
  font-weight: bold;
  color: var(--info-text-emphasis);
  margin-bottom: -0.5rem;
}

.lyrics {
  min-height: 1.5rem;
  white-space: pre;
  word-break: keep-all;
}

.song-header {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.song-meta-item {
  color: var(--info-text-emphasis);
  font-size: 0.75rem;
  margin-right: 1rem;
}

.song-meta-item strong {
  color: var(--tertiary-color);
  font-weight: normal;
}